{% extends 'SynergyWebBundle:Layout:menu.html.twig' %}

{% block web_body %}
    <div id="background">
        <img src="{{ asset('assets/img/bg1.jpg') }}" class="stretch" alt="" />
    </div>
    <h1><strong>Synergy Web Content Management System</strong></h1>
{% endblock %}